PORT = 
NODE_ENV = 
API_PREFIX = 
API_VERSION = 
FRONTEND_URL = 
DATABASE_URL = 

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

JWT_REFRESH_COOKIE_NAME=devflow_refresh_token